main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #000;
}

::-webkit-scrollbar {
    display: none;
}

.drawer-emperor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    top: 10%;
    height: auto;
    animation-name: toptobottom;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    overflow: hidden;
}

@keyframes toptobottom {
    0% {
        top: -25%;
    }
}

.drawer-cody {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    top: 55%;
    left: 20%;
    height: auto;
}

@keyframes toptobottom {
    0% {
        top: -25%;
        left: -20%;
    }
}

.emperor {
    position: relative;
    z-index: 1;
    display: block;
    border-radius: 200px;
    animation-name: periodicfading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes periodicfading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

.cody {
    position: relative;
    z-index: 1;
    display: block;
    border-radius: 200px;
    height: 200px;
    width: auto;
    animation-name: periodicfading;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes periodicfading {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.8;
    }
}

.glitch {
    border-radius: 200px;
    position: relative;
    overflow: hidden;
    animation-name: periodicfading;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.glitch__layers {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.glitch__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(https://www.superherodb.com/pictures2/portraits/10/050/10462.jpg?v=1609027200);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.glitch__layer:nth-child(1) {
    transform: translateX(-2%);
    animation: glitch-anim-1 2s infinite linear alternate;
}

.glitch__layer:nth-child(2) {
    transform: translateX(1%) translateY(3%);
    animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
}

.glitch__layer:nth-child(3) {
    transform: translateX(2%);
    animation: glitch-anim-flash 1s infinite linear;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
    }

    10% {
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }

    20% {
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }

    30% {
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }

    40% {
        clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
    }

    50% {
        clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
    }

    60% {
        clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
    }

    70% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    80% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    90% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    100% {
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
    }

    15% {
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }

    25% {
        clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
    }

    30% {
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    45% {
        clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
    }

    50% {
        clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
    }

    65% {
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    75% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    80% {
        clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    }

    95% {
        clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
    }

    100% {
        clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
    }
}

@keyframes glitch-anim-flash {
    0% {
        opacity: .2;
    }

    30%,
    100% {
        opacity: 0;
    }
}