@import url('https://fonts.cdnfonts.com/css/monomaniac-one');
@import url('https://fonts.cdnfonts.com/css/walton');
@import url('https://fonts.cdnfonts.com/css/maretha-sans');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  position: relative;
  display: block;
  background: #2E2E2E;
  min-height: 100vh;
}

.headerImage {
  display: flex;
  width: 100%;
  height: 320px;
  background-image: url(./assets/images/Header_Background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #5AC4DB;
}

.monomaniac {
  font-family: 'Monomaniac One', sans-serif;
}

.walton {
  font-family: 'Walton', sans-serif;
}

.maretha {
  font-family: 'Maretha Sans', sans-serif;
}

.form-select {
  font-size: 1rem !important;
  padding-bottom: 0.5rem !important;
  line-height: 1rem !important;
  background-color: #D9D9D9 !important;
  border-radius: 10px !important;
  background-position: right 1rem center !important;
  background-size: 1rem !important;
  outline: none !important;
}

.input {
  outline: none !important;
  background-color: #D9D9D9 !important;
  border-radius: 10px !important;
  appearance: none !important;
}

.trapezoid {
  border-top: 60px solid #383838;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  height: 0;
  width: 50%;
}

.navbar-nav>li {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

.btn {
  font-family: 'Walton', sans-serif !important;
}