body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.drawer {
  height: 30px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0);
  transition: all .3s ease-out;
}

.drawer:hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(100%);
}