html,
body,
#root,
.App {
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  background-color: #3c506b;
}

.addButton {
  left: 85%;
  bottom: 5%;
}

.addButton>button {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.drawer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.taskNote {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 30%;
  min-height: 50%;
  height: auto;
  background-color: white;
}

.taskButton {
  height: 30px;
  width: 30px;
  line-height: 0;

}

.taskCheckbox {
  width: 25px;
  height: 25px;
}

.App-header {
  background-color: #262a33;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(128, 128, 128);
}

.App-link {
  color: #61dafb;
}

table,
th,
td {
  border: 1px solid black;
}