html,
body,
#root,
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #262a33;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(128, 128, 128);
}

.App-link {
  color: #61dafb;
}

table,
th,
td {
  border: 1px solid black;
}